---
import "../styles/global.css"
import {CardBack, CardFrame} from "../scripts/objects";
function genRange(start: number, size: number): number[] {
	return Array(size).fill(start).map((x, y) => x + y)
}

const suits = ["diamond", "heart", "club", "spade"]

---

<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
</head>
<body>
	<div class="top-bar">
		<button>new game</button>
	</div>
    <div class="field">
	    <img src={CardBack} alt="blank space" id="stock" class="stock"/>
		<img src={CardFrame} alt="blank space" id="waste" class="waste"/>

	    { genRange(2, 7).map(pos =>
			<div id=`tableau-${pos - 1}` style=`grid-row: 1 / 4; grid-column: ${pos}`>
				<img src={CardFrame} alt="blank space" class="tableau"/>
			</div>
		) }

		{ suits.map((suit, pos) =>
			<img src={`/frames/${suit}.png`} alt=`${suit} pile` id=`foundation-${suit}` class="foundation" style=`grid-row: ${pos + 1}`/>
		) }

    </div>
</body>

</html>
