---
import "../styles/global.css"
import {CardBack, CardFrame} from "../scripts/objects";

function genRange(start: number, size: number): number[] {
	return Array(size).fill(start).map((x, y) => x + y)
}

const suits = ["diamond", "heart", "club", "spade"]

---

<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
</head>
<body>
	<div class="top-bar">
		<button>new game</button>
		<button onclick="console.log(deck)">check</button>
	</div>
    <div class="field">
	    <img src={CardBack} alt="blank space" id="stock" class="stock"/>
		<img src={CardFrame} alt="blank space" id="waste" class="waste"/>

	    { genRange(2, 7).map(pos =>
			<div id=`tableau-${pos - 1}` class="tableau tableau-base" style=`grid-column: ${pos}`>
			</div>
			<img src={CardFrame} alt="blank space" class="tableau" style=`grid-column: ${pos}`/>
		) }

		{ suits.map((suit, pos) =>
			<img src={`/frames/${suit}.png`} alt=`${suit} pile` id=`foundation-${suit}` class="foundation" style=`grid-row: ${pos + 1}`/>
		) }

    </div>
</body>
<script>
	import { genDeck } from "../scripts/game";
	document.querySelector("button").addEventListener("click", () => { genDeck(); });
</script>

</html>
